.Toolbar{
    color: red;
    display: flex;
    justify-content: space-between;
    background-color: #FF6600;
}

.Items{
    display: flex;
    position: relative;
    left: 30px;
    justify-content: flex-end;
    margin-right: 20vw;
    font-size: xx-large;
}   
.Item{
    margin: 0 10px;

}

.Logo {
    margin: 5px 19vw;
    background-color: white;
    height: fit-content;
    color: #FF6600;
    border-radius: 2px;
    font-weight: 700;
    text-decoration: none;

}

@media (max-width:500px){
    .Toolbar{
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        padding: 0;
        top: 0;
        width: 100%;
        z-index: 100;

    }
    .Logo{
        margin: auto;
    }
    .Items{
        margin: auto;
        left: 0;
    }
}