.Toolbar{
    color: red;
    display: flex;
    justify-content: space-between;
    background-color: orange;
    


}

.Items{
    display: flex;
    float: right;
    margin-right: 20vw;
    font-size: xx-large;
}
.Item{
    margin: 0 10px;

}

.Logo {
    margin: 5px 20vw;
    background-color: white;
    height: fit-content;
    color: orange;
    border-radius: 2px;
    font-weight: 700;


}

@media (max-width:500px){
    .Toolbar{
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        padding: 0;
        top: 0;
        width: 100%;
        z-index: 100;

    }
    .Logo{
        margin: auto;
    }
    .Items{
        margin: auto;
    }
}